*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
p{
    padding: 20px;
    text-transform: capitalize;
}
.profileinfo{
    display: flex;
    justify-content: center;
    width: 400px;
    align-items: center;
    flex-direction: column;
    margin: auto;
    /* From https://css.glass */
background: rgba(227, 216, 216, 0.55);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(8px);
-webkit-backdrop-filter: blur(8px);
border: 1px solid rgba(227, 216, 216, 0.54);
}
img{
border: 2px solid rgb(27, 24, 24);
width: 200px;
height: 200px;
border-radius: 50%;
display: flex;
justify-content: center;
align-items: center;

}
button{
width: 150px;
padding: 15px;
background-color: green;
margin: 20px;
color: white;
font-size: 18px;
cursor: pointer;
}
h2,h3,h4{
/* text-align: center; */
text-transform: capitalize  ;
margin: 6px 0px;
font-size: 23px;
}

.social-icon{
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    flex-wrap: wrap;
}
.icon{
    width: 60px ;
    height: 60px;
    border-radius: 50%;
    background-color: green;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 10px;
    transition: all .4s ease-in-out;
}
.icon:hover{
    /* From https://css.glass */
background: rgba(18, 108, 140, 0.9);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(138, 0, 0, 0.1);
backdrop-filter: blur(8px);
-webkit-backdrop-filter: blur(8px);
border: 1px solid rgba(227, 216, 216, 0.54);
}
.fs-3{
    font-size: 32px;
}
.text-light{
    color: white;
}